
// mobile-menu
include mobile-menu.pug
// mobile-menu

// popup-form
include popup-form.pug
// popup-form 

header.header-black
  .first-line
    .main-grid
      .logo-container.header-cell
        a.logo(href="#") 
          img(src="../images/logo.svg", alt="")
      .address-container.header-cell
        .header-cell-body
          i.marker-ico 
          .header-body Москва, 3-я Хорошевская улица, дом 18, корпус 1, офис 311
      .time_work-container.header-cell
        .header-cell-body
          i.time_work-ico
          .header-body
            |Пн-Пт
            br
            |9:00 — 18:00
      .feedback-container.header-cell
        .header-cell-body
          i.phone-ico
          .header-body
            a(href="#") 8 (800) 725-22-02 
            a(href="#") 8 (495) 225-22-02
      .btn-container.header-cell
        .header-cell-body
          a.btn(href="#")
            span Заказать звонок 
          img(src="../images/logo-2.svg", alt="")
      .hamburger-container.header-cell
        .hamburger
  .second-line
    .main-grid
      nav.nav
        ul
          each val in ["О компании","Услуги","Системы DIAT","Портфолио","Документы","Контакты"]
            li
              a(href="#")
                = val
