section.home__about
	.main-grid
		h2.home__about__col--4 О компании DIAT
		.home__about__greetings.home__about__col--7
			.home__about__greetings__text  Дипломы, благодарности, грамоты, письма...
				br
				|Все то, чем мы гордимся и что достойно заслужили.К 25-летию DIAT — порадуйтесь вместе с нами и улыбнитесь!
			.home__about__greetings__mark
				img(src="../images/logo-2.svg", alt="")
		.home__about__img__col.home__about__col--4
			img(src="../images/temp/photo-3.jpg", alt="")
		.home__about__greetings__group.home__about__col--7
			ul.ln.custom-disk
				li Более 5 000 000 квадратных метров реализованных проектов по всей территории России
				li Более 200 реализованных проектов реконструкции жилого фонда Москвы
				li 8 высотных (выше 100 м), из них 4 выше 150 м зданий
				li Более 30 патентов на изобретения
				li Наши научные разработки отмечены премией Правительства РФ в области науки и техники
				li Самое большое разрешенное к применению количество облицовочных материалов
				li Реализация проектов с тяжелыми облицовками в сейсмически активных зонах
		.home__about__img__col.home__about__col--4
				img.home__about__img--2(src="../images/temp/photo-4.jpg", alt="")
				img.home__about__img--3(src="../images/temp/photo-5.jpg", alt="")
		.home__about__img__col.home__about__col--7
				img(src="../images/temp/photo-6.jpg", alt="")
	.btn-container 
		a.btn.btn--white(href="#") 
			span О КОМПАНИИ
