section.home__consultation
	.main-grid 
		.home__consultation__about
			h2 25 лет экспертизы
			p Подразделение «ДИАТ-Проект» способно спроектировать и осуществить авторский надзор объектов любой сложности в любых климатических зонах на всей территории России.
			.hint 
				| Чтобы узнать цены на проектирование НВФ ДИАТ, проконсультируйтесь с нашими менеджерами 
		.home__consultation__form
			h2 БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
			form.form
				.name-input.form-input
					i.user-ico
					input(type="text" placeholder="Ваше Имя" )
				.phone-input.form-input
					i.phone-ico
					input(type="text" placeholder="Ваш телефон")
				.checkbox
					label
						|Согласие на обработку персональных данных
						input(type="checkbox")
						span
				.btn-container 
					.btn
						input.btn--input(type="submit" value="Отправить")
