section.home__contacts
	.main-grid
		.home__contacts__info
			h2 КОНТАКТЫ
			.home__contacts__address
				| 123298, г. москва, 3-я хорошевская улица
				br
				|дом 18, корпус 1, офис 311
			.home__contacts__feedback
				.home__contacts_phones
						i.phone-ico
						a(href="#") 8 (800) 725-22-02
						a(href="#") 8 (495) 225-22-02 
				.home__contacts__time_work
					i.time_work-ico
					a(href="#") Пн-Пт: 9:00 — 18:00 				
				.home__contacts__mail
					i.mail-ico
					a(href="#") office@diat.ru 
		.home__contacts__map__contaier
			.contacts-address-points
				.contacts-address-line(
					id="address-0"
					data-coord-x="55.6"
					data-coord-y="37.6" 
					data-index="0"	
				)
					.address
						.metro Магазин
						.text-address м. Китай-город, Лубянский пр., 15, стр. 4
					.phone-feedback
						div +7 (499) 938-83-51
			.home__contacts__map
				#map
			script(src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=AAyE0FsBAAAApZ_zfwIA_dXSEkWE4_EY3eJc0MxKY2DPitcAAAAAAAAAAADTxJqFLJMxqfrjbNVz6ghuLNJ4tw" type="text/javascript")
			script(src="../js/ya-map.js")
	