.home__main
  .home__main__bg
  .main-grid
    .home__main__container
      .home__main__block
        h1 НАВЕСНЫЕ ФАСАДНЫЕ СИСТЕМЫ
        a.btn.btn--fill(href="#")
          span  Инновации для жизни
        .home__main__description__container
          .home__main__description Системы DIAT, гарантированная нормативная долговечность которых составляет более 50 лет, занимают лидирующие позиции в области поставки на строительный рынок качественной конечной продукции - фасада.
          a(href="/").btn-circle 
            .btn--bg
            span Подробнее

