section.home__news
  .main-grid
    .home__news__main__container
      h2 НОВОСТИ
      .home__news__main
        .home__news__main__img
          img(src="../images/temp/news/1.jpg", alt="")
        .home__news__main__date 11.10.2021
        h3 Компания «ДИАТ» провела ребрендинг!
        .home__news__main__text Изменения коснулись не только логотипа компании, цветовой палитры, но и слогана, который теперь звучит как «инновации для жизни».
        a.btn-arrow(href="#") 
          span ЧИТАТЬ
          i
    .home__news__group__container
        .home__news__group__item
          .home__news__group__img
            img(src="../images/temp/news/2.jpg", alt="")
          .home__news__group__info
            h3 ДОГОВОР ПРОЕКТИРОВАНИЯ
            .home__news__group__date 11.10.2021
          .home__news__group__text 
            p Компании «Пик Менеджмент» и «ДИАТ ПРОЕКТ» подписали договор проектирования 3 очереди проекта «Западный порт».
            a.btn-arrow(href="#") 
              span ЧИТАТЬ
              i
        .home__news__group__item
          .home__news__group__img
            img(src="../images/temp/news/3.jpg", alt="")
          .home__news__group__info
            h3 Поздравляем с днем строителя!
            .home__news__group__date 11.10.2021
          .home__news__group__text 
            p Уже 65 лет каждое второе воскресенье августа отмечается день строителя. Коллеги, от души поздравляем вас с праздником! 
            a.btn-arrow(href="#") 
              span ЧИТАТЬ
              i
        .home__news__group__item
          .home__news__group__img
            img(src="../images/temp/news/4.jpg", alt="")
          .home__news__group__info
            h3 «Российская архитектура. Новейшая эра»
            .home__news__group__date 11.10.2021
          .home__news__group__text 
            p Компания «Юкон Инжиниринг» поддержала проект «Российская архитектура. Новейшая эра», в рамках которого в Музее Архитектуры имени А. В. Щусеваг. 
            a.btn-arrow(href="#") 
              span ЧИТАТЬ
              i
  .btn-container 
    a.btn.btn--white(href="#") 
      span Все НОВОСТИ
