section.partners__section 
	.main-grid 
		.partners__section__about
			h2 НАШИ ПАРТНЁРЫ
			p Мы будем рады совместной работе с компаниями, занимающимися продвижением  и поставками продукции на стройки России, ближнего и дальнего зарубежья. Надеемся, что Ваш опыт в данном направлении позволит сделать наши технологические и проектные решения максимально эффективными для заказчиков и партнеров по девелопменту и привлекательными в финансовом плане в нашем совместном сотрудничестве
		.partners__section__logos.partners__section__owl.owl-carousel
			- for (var x = 1; x < 20; x++)
				.partners__section__logos__item
					img(src="../images/temp/logos/"+x+".png", alt="")
			.partners__section__logos__link
				a(href="#") Посмотреть все