section.services__section
	.main-full
		h2 Услуги
	.main-grid
		.services__section__item
			a(href="#").services__section__img
				img(src="../images/temp/photo-1.jpg", alt="")
				.services__section__border
					div
			div
				a.btn-arrow(href="#")
					span ПРОЕКТИРОВАНИЕ
					i
		.services__section__item
			a(href="#").services__section__img
				img(src="../images/temp/photo-2.jpg", alt="")
				.services__section__border
					div
			div
				a.btn-arrow(href="#")
					span АВТОРСКИЙ НАДЗОР
					i
