.reviews-item
  a(href="../images/temp/rew-1.jpg" data-lightbox="roadtrip")   
    .reviews-img
      img(src="../images/temp/rew-1.jpg", alt="")
      .reviews-plus
  .reviews-info
    h3 Гольденгерш А.Л.
    h4 Генеральный директор ООО «КапТехноСтрой»
    .data
    .reviews-description
      | ООО «КапТехноСтрой» выражает искреннюю благодарность компании ООО ГК «ДИАТ» за взаимовыгодное и плодотворное сотрудничество на протяжении многих лет.Мы высоко ценим установившиеся между нами партнёрские отношения и взаимопонимание. Хотим подчеркнуть высокий уровень профессионализма Ваших сотрудников и поблагодарить за оперативность решения вопросов.