a(href="") doctype html
html
	body
		// head start
		include default/head.pug 
		// head end

		// header start
		include default/header.pug
		// header end
		.stub 
		.main-full 
			.breadcrumbs
				a(href="#")  Главная 
				i >
				span Отзывы
		.main-full
			h1 ГлавнЫй офис ООО ГК "ДИАТ"
		// address-detail start
		.address-list.main-grid
			.address-list__all
				.address-list__item
					.address-list__img
						img(src="../images/temp/detail-slider-1.jpg", alt="")
					.address-list__info
						.address-list__address
							h3 ООО ГК "ДИАТ"
							div 23298, РФ - Москва 
								br
								| ул. 3-я Хорошевская, д.18, корпус 1
							div 
								a(href="#") +7 (495) 225 22 02, 
								a(href="#") 8 800 725 2202
				.address-list__item
					.address-list__img.address-list--no_img
						img(src="../images/icons/warehouse.svg", alt="")
					.address-list__info
						.address-list__address
							h3 Склад ООО ГК "ДИАТ"
							div 23298, РФ - Москва 
								br
								| ул. 3-я Хорошевская, д.18, корпус 1
							div 
								a(href="#") +7 (495) 225 22 02, 
								a(href="#") 8 800 725 2202
				.address-list__item
					.address-list__img.address-list--no_img
						img(src="../images/icons/representation.svg", alt="")
					.address-list__info
						.address-list__address
							h3 ПРЕДСТАВИТЕЛЬСТВО
							div 23298, РФ - Москва 
								br
								| ул. 3-я Хорошевская, д.18, корпус 1
							div 
								a(href="#") +7 (495) 225 22 02, 
								a(href="#") 8 800 725 2202
				.address-list__item
					.address-list__img
						img(src="../images/temp/detail-slider-1.jpg", alt="")
					.address-list__info
						.address-list__address
							h3 ООО ГК "ДИАТ"
							div 23298, РФ - Москва 
								br
								| ул. 3-я Хорошевская, д.18, корпус 1
							div 
								a(href="#") +7 (495) 225 22 02, 
								a(href="#") 8 800 725 2202
				.address-list__item
					.address-list__img
						img(src="../images/temp/detail-slider-1.jpg", alt="")
					.address-list__info
						.address-list__address
							h3 ООО ГК "ДИАТ"
							div 23298, РФ - Москва 
								br
								| ул. 3-я Хорошевская, д.18, корпус 1
							div 
								a(href="#") +7 (495) 225 22 02, 
								a(href="#") 8 800 725 2202
				.address-list__item
					.address-list__img
						img(src="../images/temp/detail-slider-1.jpg", alt="")
					.address-list__info
						.address-list__address
							h3 ООО ГК "ДИАТ"
							div 23298, РФ - Москва 
								br
								| ул. 3-я Хорошевская, д.18, корпус 1
							div 
								a(href="#") +7 (495) 225 22 02, 
								a(href="#") 8 800 725 2202
			.address-list__map
				// map start
				include default/map.pug
				// map end
		// address-detail end



		// footer start
		include default/footer.pug
		// footer end  