doctype html
html
	body
		// head start
		include default/head.pug 
		// head end
 
		// header start
		include default/header.pug
		// header end
		.stub 
		// section-1 start
		include home/main.pug
		// section-1 end  
		// section-2 start 
		include home/consultation.pug
		// section-2 end  
		// section-3 start
		include home/services__section.pug
		// section-3 end  
		.main-full
			hr.delimetr
		// section-4 start
		include home/about.pug
		// section-4 end 
		.main-full
			hr.delimetr
		// section-5 start
		include home/advantages__section.pug
		// section-5 end 
		.main-full
			hr.delimetr
		// section-6 start
		include home/information.pug
		// section-6 end 
		.main-full
			hr.delimetr
		// section-7 start
		include home/projects__section.pug
		// section-7 end   
		.main-full
			hr.delimetr
		// section-8 start
		include home/partners__section.pug
		// section-8 end   
		.main-full
			hr.delimetr
		// section-9 start
		include home/news.pug
		// section-9 end   
		.main-full
			hr.delimetr
		// section-10 start
		include home/contacts.pug
		// section-10 end   

		.footer-stub

		// footer start
		include default/footer.pug
		// footer end  