@font-face {
	font-family: "regular";
	src: url("../fonts/Geometria.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bold";
	src: url("../fonts/Geometria-Bold.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "medium";
	src: url("../fonts/Geometria-Medium.ttf");
	font-weight: normal;
	font-style: normal;
}