.project-detail-main.main-grid
	.project-detail-slider
		.project-slider-body
			.outer
				.project-img-border
				#big.owl-carousel
					- for (var x = 0; x < 10; x++)
						div
							img(src="../images/temp/detail-slider-1.jpg", alt="")
			#thumbs.owl-carousel.owl-thumbnails
				- for (var x = 0; x < 10; x++)
					.owl-thumb-item
						.thumb-item
							img(src="../images/temp/detail-slider-1.jpg", alt="")

	.project-detail-info
		h3 О Проекте:
		.project-info-line 
			b г. Москва, ш. Аминьевское / ул. Матвеевская
		.project-info-line
			b Площадь фасада:
			span 5000 кв.м.
		.project-info-line
			b Облицовка: 
			span СФБ
		.project-info-line
			b Заказчик: 
			span Группа компаний «ИНТЕКО»
		.project-info-line
			b Генеральный подрядчик: 
			span Компания ANTTEQ
		.project-info-line
			b Архитектор: 
			span APEX  Project Bureau
		.project-info-line
			b Реализация: 
			span 2021г.
		.btn-container 
			a.btn.btn--white(href="#") 
				span НАЗАД К ПРОЕКТАМ 
	.project-detail-description
		h3 Архитектура и проектирование фасада
		.description-body
			.project-description-half
				| Стилобатная часть фасада здания будет облицована СФБ  панелями общим объемом 5000 кв.м. Комплекс органично вписывается в существующую экосистему и обладает отличной экологической составляющей. В старых границах Москвы предложение такого формата жилья является уникальным – его доля в общем числе новостроек комфорт-класса не превышает 2%.
			.project-description-half
				| Крупномасштабные пропорции зданий решены четкими вертикальными ритмами, что позволяет сформулировать узнаваемый даже с больших расстояний актуальный урбанистический образ. Мы гордимся многолетним сотрудничеством с одним из крупнейших генеральных подрядчиков Москвы, компанией ANTTEQ. Благодарим за оказанное доверие!