section.project-materials
	.main-full
		h2 ФАСАДНЫЕ СИСТЕМЫ, ИСПОЛЬЗУЕМЫЕ В ПРОЕКТЕ
	.main-grid 
		.project-materials-item.materials-item-img
			img(src="../images/temp/materials-1.jpg", alt="")
		.project-materials-item.materials-item-description
			h3 КЕРАМОГРАНИТ
			p  НФС с воздушным зазором для облицовки плитами из керамогранита со скрытым креплением и утепления наружных стен зданий и сооружений различного назначения.
		.project-materials-item.materials-item-info
			ul.ln
				li 
					b Материал — 
					span Плиты из керамогранита
				li 
					b Допустимая высотность объекта — 
					span без ограничений
				li 
					b Класс конструктивной пожарной опасности системы — 
					span К0
				li 
					b Сейсмоустойчивость — 
					span до 9 баллов по шкале Рихтера
				li 
					b Безремонтный срок эксплуатации — 
					span более 50 лет
	.btn-container 
		a.btn.btn--white(href="#")
			span ПОСМОТРЕТЬ ФАСАДНЫЕ СИСТЕМЫ DIAT
	.main-full
		hr